@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
html{
    scroll-behavior: smooth;;
  }
*{
    margin: 0;
    padding: 0;
}
/* bannar-section  */
.bannar-section{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-image: url(/assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bannar-poperty{
    width: 900px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannar-img{
    padding: 25px;
}
.bannar-poperty h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 30px;
font-weight: 800;
padding-bottom: 25px;
}
.bannar-poperty h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 500;
padding-bottom:  25px;
}
.bannar-poperty button{
    background-color: black;
    color: white;
    padding: 18px 20px ;
    border: none;
    border-radius: 6px;
    text-align: center;
}
.contact-anchor{
    color: white;
    text-decoration: none;
}
/* why web development */
.devolopment-section{
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding:20px 30px;

}
.devolopment-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px;
}
.devolopment-title h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 27px;
font-weight: 800;
padding-bottom: 15px;
}
.devolopment-title p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 500;
padding-top: 15px;
line-height: 25px;
}
.Developer-photo-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.inner-text-section{
    width: 500px;
    height: 200px;
    padding-left: 30px;
}
.inner-text-section h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
padding-bottom: 20px;
text-align: left;
}
.inner-text-section p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
padding-bottom: 40px;
}
.inner-text-section button{
    color: rgb(13, 19, 33);
    background-color:rgb(252, 254, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 400;
    padding: 8px 15px;
    text-align: center;
    

}
/* My inspiration section */
.inspiration{
    width: 1050px;
    height: 650px;
    margin: 0 auto;
    margin-top: 70px;

}
.inspiration-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.text-inspiration{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.text-inspiration h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
}
.text-inspiration p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
}
.video-tag{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    border: 15px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    
}
/* my current target  */
.target{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px
    
}
.target-text{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.target-text h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 28px;
font-weight: 800;
}
.target-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 14px;
font-weight: 400;
}
.main-target{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 0px 0px 20px;
}
.icons{
    width:260px;
    height: 240px;
    padding-left: 20px;
    padding-top: 20px;
    text-align:left;
    border-radius: 10px;
 
}
.html{
    background-color: #FFF6F4;
}
.css{
    background-color:#F2F6FE;
}
.js{
    background-color: #FFFDF2;
}
.icons h2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 800;
padding-bottom: 15px;
}
.icons img{
    width: 40px;
    padding-bottom: 20px;
}
.icons p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 400;
padding-bottom: 40px;
}
.icons button{
    color: rgb(0, 0, 0);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 700;
border: none;
}
.link{
    color: black;
}
/* support section  */
.support-section{
    width: 1044px;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(/assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-color: rgba(33, 22, 22, 0.637);
    background-blend-mode: overlay;
}
.main-support-section{
    width: 1044px;
    height: 200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.main-support-section h2{
    color: white;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}
.main-support-section p{
    color: rgba(255, 255, 255, 0.762);
    font-size: 13px;
    font-weight: 500px;
    padding-bottom: 30px;
}
.text-support{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
}
.submit-btn{
    color:rgba(0, 0, 0, 0.895);
    font-size: 17px;
    font-weight:bold;
    width: 100px;
    height: 42px;
    border-radius: 5px;
}
/* footer nav bar */
.footer-nav{
    width: 1120px;
    height: 40px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-icons{
    width: 190px;
    height: 36px;
}
.nav-icons ul{
    display: flex;
    justify-content: space-evenly;
    
}
.nav-icons li{
   list-style-type:none;
    
}
.footer-nav h3{
    color: rgba(0, 0, 0, 0.776);
    font-size: 18px;
    font-weight: bold;
}
